.header_top {
  display: flex;
  justify-content: space-between;
  background-color: #023b6d;
  background: #023b6d;
  color: white;
  padding: 5px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;

  .responsive{
    font-size: 22px;

    .icon-color{
      color: #fff;
    }
   
  }

  .logo_img {
    height: 25px;
  }
  .logis{
      color: #fff;
  }
}
.title{
  color: #fff;


  }
  .allstatistic{
    color: #fff;
    font-size: 28px;
    gap: 25px;
    margin-top: 80px;
    
}

input{
  width: 500px;
  height: 70px;
  border-radius: 8px;
   

}
.search{
  position: relative;
}
.btn{
  position: absolute;
  // display: inline-block;
  height: 50px;
  width: 100px;
  border-radius: 8px;
  background-color: #023b6d;
  right: 0px;
  top: 10px;
  color: #fff;
  // text-align: center;

}
#nav-area{
  position: fixed;
  width: 100%;
  top: 39px;

}

.navbar {
  z-index: 999;
  display: flex;
  justify-content: space-between;
  // background-color: #0e1d34;
  opacity: 0.9;
  align-items: center;
  padding: 5px 0;
  top: 39px;
  text-align: justify;
  .logo{

    font-size: 38px;

    a{
      color: #fff;
    }
  }
  .navbar__list {
    display: flex;
    gap: 15px;
    font-size: 20px;
    &--item {
      a {
        color: #fff;
      }
      
    }
  }
}
  
#nav-area{
  background-color: rgba(14, 29, 52, 0.9);
  padding: 10px 0;
  box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
}